canvas{

    display: inline;

    margin-left: 50%;
    transform: translateX(-50%);
}

.canvCont{
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    display: flex;

    
}